# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
.env/

# =========================
# Logs
# =========================
*.log
osi_simulation.log

# =========================
# OS / Editor Files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Temporary Files
# =========================
*.tmp
*.bak
